<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/navbar.ejs') %>
    <!-- <% const message = 'Hello World!' %>
    <h1><%= message %></h1> -->

    <div class="content">
      <% if(users.length > 0) { %> <% users.forEach(user => { %>

      <h3 class="title"><%= user.firstName %> <%= user.lastName %></h3>

      <pre><p><%= user.email %></p></pre>
      <br />

      <% }) %> <% } else { %>
      <p>Não há usuários para exibir ...</p>
      <% } %>
    </div>
  </body>
</html>
